.CharacterDetails__top-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TopDetails__avatar-container {
  flex-shrink: 0;
  flex-grow: 0;
}

.TopDetails__text-container {
  flex-shrink: 0;
  flex-grow: 1;
  margin-left: 20px;
}

.TopDetails__text-container > h1 {
  text-transform: uppercase;
  margin: 0;
}

.TopDetails__links {
  padding-left: 0;
  margin-top: 0;
}

.TopDetails__links > li {
  display: inline;
}

.TopDetails__links > li:not(:first-child) {
  padding-left: 10px;
}