.BackgroundText__text-container {
  margin-bottom: 20px;
}

.BackgroundText__text {
  text-transform: uppercase;
  color: rgb(40, 72, 86);
  margin: 0;
  display: inline;
}

.BackgroundText__sub-text {
  font-size: 0.8rem;
  color: #757575;
}