.header__logo {
  width: 400px;
}

@media screen and (max-width: 480px ) {
  .header__logo {
    width: 200px;
  }
}

.App__header {
  margin-top: 20px;
  color: white;
}

header {
  background-color: #212121;
}

.view-container {
  margin-top: 20px;
}